services:
  db:
    image: postgres:15
    container_name: labecanner_db
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      # These variables are read from the .env file automatically 
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5432:5432"
    networks:
      - app-network

  web:
    build: .
    container_name: labecanner_web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data: